payment-service-shared/src/main/resources/wsdl/paymentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2011 FuseSource
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<wsdl:definitions name="wsdl-first"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://fuse.example.com/payment-service"
                  xmlns:typens="http://fuse.example.com/payment-service/types"
                  targetNamespace="http://fuse.example.com/payment-service">

    <wsdl:types>
        <xsd:schema targetNamespace="http://fuse.example.com/payment-service/types"
                    elementFormDefault="qualified">
            <xsd:element name="transfer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="from" type="xsd:string"/>
                        <xsd:element name="to" type="xsd:string"/>
                        <xsd:element name="amount" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reply" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="TransferRequest">
        <wsdl:part name="payload" element="typens:transfer"/>
    </wsdl:message>

    <wsdl:message name="TransferResponse">
        <wsdl:part name="response" element="typens:response"/>
    </wsdl:message>

    <wsdl:portType name="Payment">
        <wsdl:operation name="transferFunds">
            <wsdl:input message="tns:TransferRequest"/>
            <wsdl:output message="tns:TransferResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PaymentSOAPBinding" type="tns:Payment">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="transferFunds">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PaymentService">
        <wsdl:port binding="tns:PaymentSOAPBinding" name="soap">
            <soap:address location="http://localhost:9090/cxf/paymentService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
